.rbea-animations-preview-button {
    width: 100%;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}
.rbea-animations-label {
    color: #50575e;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 16.41px;
    text-align: left;
    text-transform: none !important;
    font-weight: 400 !important;
    margin-bottom: 0;
}
.rbea-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.rbea-flex-wrapper .rbea-flex-wrapper-items {
    width: 50%;
}