.rbea-custom-css-wrapper {
  .rbea-custom-css-editor-container-inner{
    width: 100%;
    height: 300px;
    border: 1px solid #8c8f94;
    margin-bottom: 15px;
  }
  .rbea-custom-css-errors {
    margin-bottom: 15px;
  }
  .rbea-custom-css-annotation {
    font-size: 12px;
  }
  .rbea-custom-css-annotation > strong {
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 14px;
  }
  .rbea-custom-css-error > strong {
    background-color: red;
  }
  .rbea-custom-css-warning > strong {
    background-color: #FFC107;
  }

}
